# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore any .ipynb_checkpoints directories in subfolders
**/.ipynb_checkpoints/

# Ignore virtual_documents folders
.virtual_documents/
**/.virtual_documents/
